{
  "telegram": {
    "botToken": ""
  },
  "bot": {
    "password": "",
    "adminPassword": ""
  },
  "radarr": {
    "hostname": "",
    "apiKey": "",
    "port": 80,
    "urlBase": "",
    "ssl": false,
    "username": "",
    "password": "",
    "maxResults": 6,
    "qualityId": 1
  },
  "sonarr": {
    "hostname": "",
    "apiKey": "",
    "port": 80,
    "urlBase": "",
    "ssl": false,
    "username": "",
    "password": "",
    "maxResults": 6,
    "qualityId": 1
  }
}
